/* Estilos para todo el proyecto */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

body {
    font-family: Mon;
    background-color: #1d1a39;
    color: white;
    background-image: url("./static/imagenes/background");
    background-size: cover; /* Asegura que la imagen cubra toda el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.contenedor-centrado {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 120px;
}

.navbar-index {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    background-color: #69b271;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed !important; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.logo-nav {
    height: 80%;
    overflow: hidden;
    margin-left: 1em;
}

p {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #ffffff;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #69b271;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #69b271;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-collapse: collapse; /* Colapso de bordes para una apariencia más limpia */
}

/* Estilo para el encabezado de la tabla */
thead {
    background-color: #ffffff; /* Fondo blanco para el encabezado */
}

/* Estilo para las celdas del encabezado */
th {
    color: #000000; /* Texto negro para el encabezado */
    padding: 10px; /* Espaciado interno para las celdas del encabezado */
    text-align: left; /* Alineación del texto del encabezado a la izquierda */
    border-bottom: 1px solid #dddddd; /* Borde inferior del encabezado */
}

/* Estilo para las filas de la tabla */
tr {
    border-bottom: 1px solid #dddddd; /* Borde inferior de las filas */
}

/* Estilo para las celdas de datos y enlaces */
td {
    padding: 10px; /* Espaciado interno para las celdas de datos */
    text-align: center; /* Alineación del texto de las celdas de datos al centro */
    border-bottom: none; /* Elimina el borde inferior de las celdas de datos */
}

/* Estilo específico para los enlaces dentro de las celdas */
td a {
    display: block; /* Convertir el enlace en un bloque para ocupar todo el espacio de la celda */
    padding: 10px; /* Añadir espaciado dentro de la celda */
    text-decoration: none; /* Eliminar subrayado del enlace */
    color: #000000; /* Color de texto negro para el enlace */
}


label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #69b271;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #69b271;
}

button {
    padding: 8px;
    margin: 4px;
    background-color: #227449;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #39a36c;
}

a {
    padding: 8px;
    margin: 4px;
    background-color: #349b66;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
    font-weight: 800;
}

a:hover {
    background-color: #ffffff;
    color: #69b271;
}
